/*
fonts;
font-family: 'Abel', sans-serif;
font-family: 'Bowlby One SC', cursive;
*/

body {
    background-color: aliceblue;
    font-family: 'Abel', sans-serif;
}

#app-container {
    text-align: center;
    margin: auto;
    width: 50%;
}

.title {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-size: 2rem;
    user-select: none;
}

.pal-color {
    color: red;
}

.form {
    margin-left: 5%;
}

svg {
    color: red;
    float: left;
    margin-left: 5px;;
    cursor: pointer;
}

input {
    background-color: rgba(148, 189, 207, 0.253);
    width: 84%;
    height: 28px;
    font-size: 1.5rem;
    margin-left: 5px;
    float: left;
    outline: none;
    border: 0px solid;
    border-bottom: 1px red dotted;
}